*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(32, 74, 90);
}


#bio-name{
    height: 300px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.nav-boxes{
    height: 40px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.nav-boxes a{
    color: rgb(255, 157, 28);
    font-size: 1.3rem;
}


nav{
    justify-content: flex-end;
}

#name{
    justify-content: ;
}

#name h1{
    color: rgb(247, 140, 0);
}



#name{
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#bio-name h1{
    font-size: 40px;
}

#portrait-outline{
    padding-top: 40px;
    min-width: 100%;
    display: flex;
    justify-content: center;
}

#portrait{
    height: 300px;
    width: 300px;
    background-color: cornsilk;
    float: left;
    border-radius: 40px;
}


#about-me{
    min-height: 400px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
}

#me{
    height: 400px;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section-titles{
    height: 250px;
    width: 250px;
    border-right: black dotted 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#Summary{
    min-height: 400px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Summary ul p{
    font-size: 25px;
    color: rgb(247, 140, 0);
    margin: 3px;
}

#Summary ul p1{
    color: rgb(211, 208, 16);
}

.section-titles h1{
    font-size: 45px;
    color: rgb(247, 140, 0);
}


#my-projects{
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#title-box{
    max-height: 400px;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

#my-work-box{
    height: 400px;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

#out-place{
    height:200px;
    width: 70%;
    display: flex;
    justify-content: center;
}

#placeholder{
    width: 100%;
    height: 200px;
}

.link-pic{
    height: 200px;
    width: 100%;
    background-size: 100% 100%;
    border-radius: 40px 40px 40px 40px;
    border: silver solid 2px;
}

.link-pic:hover{
    opacity: 0.3;
    transition: .3s ease;
}

.placeholder{
    width: 35%;
    height: 200px;
    margin: 10px;
}

#contact-information{
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#contact-title{
    height: 400px;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contact-info-text{
    height: 400px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.contact-boxes{
    width: 350px;
    height: 50px;
    border: grey solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 40px;
}

.contact-boxes a{
    font-size: 20px;
    color: rgb(255, 145, 0);
}

button:hover{
    background-color: whitesmoke;
    color: blue;
}


footer{
    width: auto;
    height: 50px;
    border-top: black 2px solid;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h1{
    font-size: 20px;
    color: blue;
}


@media screen and (max-width: 1052px){
    section#about-me, section#my-projects, section#contact-information{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1052px){
    .section-titles{
        border-right: transparent;
        border-bottom: black 5px dotted;
        display: flex;
        
    }
}

@media screen and (max-width: 1052px){
    #about-me{
        height: 600px;
    }
}

@media screen and (max-width: 1052px){
    #about-me, #my-projects, #contact-information {
        min-width: 50%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 605px){
    nav, div#name{
        display: flex;
        justify-content: center;
        align-items:center;
    } 
}

@media screen and (max-width: 1450px){
    #contact-info-text{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 467px){
    .contact-boxes, .contact-boxes a{
        font-size: 15px;
        width: 250px;
    }
}

@media screen and (max-width: 440px){
    .link-pic, .placeholder, #placeholder{
        height: 150px;
        margin: 5px;
    }
}